.mainContainer {
  margin: auto;
  border: 1px solid #000;

}

.navBar {
  width: 100%;
}

.navBtn {



  width: 20%;
  background-color: #005;
  float: left;
  margin: auto;
  text-align: center;
}
.navBtn:first-child {
  background-color: yellow;
}
