
<nav class="navbar navbar-default navbar-fixed-top" role='navigation'>
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <!-- <img class='sloganImage' src="../assets/slogan.gif"> -->
      </a>

    </div>

    <div class="collapse navbar-collapse container-fluid">
      <ul class="nav navbar-nav navbar-left nav-pills">
        <li role="presentation" [class.active]='this.route.url == "/home"' class="active">  <a [innerHTML]="this.lang.app_homeTitle" routerLink="/home" routerLinkActive="active"></a></li>
        <li class='serviceDropdown' role="presentation"><a [innerHTML]="this.lang.app_servicesTitle"></a>
          <ul>
            <li role="presentation" [class.active]='this.route.url == "/greasefilter"'><a [innerHTML]="this.lang.app_filterTitle" routerLink="/greasefilter" routerLinkActive="active"></a></li>
            <li role="presentation" [class.active]='this.route.url == "/services"'><a [innerHTML]="this.lang.app_trapTitle" routerLink="/services" routerLinkActive="active"></a></li>
            <li role="presentation" [class.active]='this.route.url == "/services"'><a [innerHTML]="this.lang.app_exhaustTitle" routerLink="/services" routerLinkActive="active"></a></li>
          </ul>
        </li>
        <li role="presentation"><a [innerHTML]="this.lang.app_pricingTitle" routerLink="/home" routerLinkActive="active"></a></li>
        <li role="presentation"><a [innerHTML]="this.lang.app_contactTitle" routerLink="/home" routerLinkActive="active"></a></li>
        <li role="presentation"><a [innerHTML]="this.lang.app_aboutTitle" routerLink="/home" routerLinkActive="active"></a></li>
        <li class='nav navbar-nav navbar-right langSwitch' >
          <ul >
            <li class='enLabel btn btn-primary' [class.active]='currLang == "en"' (click)='toggleLanguage()'> English </li>
            <li class='esLabel btn btn-primary' [class.active]='currLang == "es"' (click)='toggleLanguage()'> Español </li>
          </ul>
        </li>
      </ul>

    </div>
  </div>
</nav>

<div class='h-100 container mainContainer .col-md-6'>
  <div class='componentContainer'>
    <router-outlet></router-outlet>
  </div>
</div>
<div class='footer'>American CSG Inc. © 2017</div>
